{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/"],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "directory": "./tsconfig.json"
      },
      "node": {
        "extensions": [".js", ".ts", ".jsx", ".tsx"]
      }
    },
    "import/extensions": [".js", ".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    }
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-alert": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": [
      "warn",
      { "namedComponents": "arrow-function" }
    ],
    "react/require-default-props": "on",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "on",
    "import/extensions": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  }
}
